---
server:
  cors:
    allowedOrigins:
      - localhost:3000
  requestLimits:
    maxActionsPerResource: 50
    maxResourcesPerRequest: 50
  playgroundEnabled: true
  adminAPI:
    enabled: true
    adminCredentials:
      username: dungth
      passwordHash: JDJ5JDEwJDd6VExqY0ZZYm5NNC5GZTFETGNHQXVGNkF6ajNxQ05ZNWh2QlB5ZkFTRDNCL3J5S0JBYi5PCgo=
storage:
  driver: "postgres"
  postgres:
    url: "postgresql://cerbos_user:cerbos_pass@containers-us-west-46.railway.app:7677/railway?sslmode=disable&search_path=cerbos"
    connPool:
      maxLifeTime: 5m
      maxIdleTime: 3m
      maxOpen: 10
      maxIdle: 5
